.luarc.json
.agents/skills/.system/
.gemini/*
!.gemini/skills
!.gemini/commands/
!.gemini/settings.json
.codex/*
!.codex/skills
!.codex/prompts/
.claude/*
!.claude/agents/
!.claude/commands/
!.claude/skills
!.claude/settings.json
