.luarc.json

.agents/skills/.system/
.claude/
!.claude/CLAUDE.md
!.claude/skills/
.codex/
!.codex/AGENTS.md
!.codex/skills/
.codex/skills/.system

.config/herdr/
!.config/herdr/config.toml
.config/jj/
!.config/jj/config.toml
.config/opencode/
!.config/opencode/opencode.jsonc
!.config/opencode/tui.jsonc
